#main{
	margin: 40px;
	flex-direction: column;
	
	#orders_list{
		flex-direction: column;
		
		.order_item{
			flex-direction: column;
			font-weight: bold;
			
			.prod_item{
				margin-left: 10px;
				font-weight: normal;
			}
		}
	}
}
