#main {
  margin: 40px;
  flex-direction: column; }
  #main #orders_list {
    flex-direction: column; }
    #main #orders_list .order_item {
      flex-direction: column;
      font-weight: bold; }
      #main #orders_list .order_item .prod_item {
        margin-left: 10px;
        font-weight: normal; }
