@keyframes spider {
    0%{
        top: 100px;
        left: -300px;
    }
    40%{
        top: 200px;
        left: 200px;
    }
    60%{
        top: 200px;
        left: 200px;
    }
    100%{
        top: -300px;
        left: 600px;
    }
}
@keyframes myha {
    0%{
        top: 400px;
        left: 200px;
    }
    60%{
        top: 400px;
        left: 200px;
    }
    100%{
        top: -100px;
        left: 600px;
        display: none;
    }
}
@keyframes text {
    0%{
        opacity: 0;
    }
    40%{
        opacity: 0;
    }
    60%{
        opacity: 1;
    }
    100%{
        opacity: 1;
    }
}
body{
    background-image: url("back.jpg");
    background-repeat: no-repeat;
}
img{
    position: absolute;
}
#m{
    top: 400px;
    left: 200px;
}
.m_anim{
    animation: myha 14s linear 1s forwards;
}
#s{
    top: 100px;
    left: -300px;
}
.s_anim{
    animation: spider 14s linear 1s forwards;
}
#t{
    background-color: wheat;
    top: 100px;
    left: 100px;
    opacity: 0;
}
.t_anim{
    animation: text 30s linear 1s forwards;
}
