body {
  margin: 0;
  display: flex;
  width: 100%;
  min-height: 100vh;
  flex-direction: column; }

div {
  display: flex;
  box-sizing: border-box; }

#main {
  flex-direction: column;
  padding: 30px; }
  #main #cart_list {
    flex-direction: column; }
    #main #cart_list .cart-item {
      border-bottom: 1px black solid;
      padding: 10px;
      font-size: 20px;
      justify-content: space-between; }
  #main #sub_btn {
    width: min-content;
    background-color: orange;
    color: white;
    border: none;
    font-size: 22px;
    padding: 2px 10px;
    border-radius: 5px;
    cursor: pointer; }
