#main {
  margin: 40px;
  flex-direction: column; }
  #main #lists {
    justify-content: space-around; }
    #main #lists .list_container {
      width: 40%;
      flex-direction: column; }
      #main #lists .list_container #orders_list {
        flex-direction: column; }
        #main #lists .list_container #orders_list .order_item {
          flex-direction: column;
          margin-bottom: 10px;
          border-bottom: 1px black solid; }
          #main #lists .list_container #orders_list .order_item .order_item_title {
            font-weight: bolder; }
          #main #lists .list_container #orders_list .order_item form input[type=submit] {
            background-color: inherit;
            border: none; }
          #main #lists .list_container #orders_list .order_item form .order_item_confirm_sub {
            color: green;
            cursor: pointer; }
          #main #lists .list_container #orders_list .order_item form .order_item_cancel_sub {
            color: red;
            cursor: pointer; }
          #main #lists .list_container #orders_list .order_item .prod_item {
            margin-left: 20px; }
      #main #lists .list_container #prod_list {
        flex-direction: column; }
        #main #lists .list_container #prod_list .prod_item {
          flex-direction: column; }
          #main #lists .list_container #prod_list .prod_item .prod_item_title {
            font-weight: bolder; }
