#main{
	margin: 40px;
	flex-direction: column;
	
	#lists{
		justify-content: space-around;
		
		.list_container{
			width: 40%;
			flex-direction: column;
			
			#orders_list{
				flex-direction: column;
				.order_item{
					flex-direction: column;
					margin-bottom: 10px;
					border-bottom: 1px black solid;
					
					.order_item_title{
						font-weight: bolder;
					}
					
					form{
						input[type=submit]{
							background-color: inherit;
							border: none;
						}
						.order_item_confirm_sub{
							color: green;
							cursor: pointer;
						}
						.order_item_cancel_sub{
							color: red;
							cursor: pointer;
						}
					}
					
					.prod_item{
						margin-left: 20px;
					}
				}
			}
			
			#prod_list{
				flex-direction: column;
				
				.prod_item{
					flex-direction: column;
					
					.prod_item_title{
						font-weight: bolder;
					}
				}
			}
		}
	}
}
