body{
	margin: 0;
	display: flex;
	width: 100%;
	min-height: 100vh;
	flex-direction: column;
}
div{
	display: flex;
	box-sizing: border-box;
	
}

#main{
	flex-direction: column;
	margin: 0 60px;
	
	#search{
		justify-self: center;
		margin: 60px auto;
		width: 60%;
		height: 30px;
		
		input{
			flex-grow: 1;
		}
	}
	
	#prods{
		flex-direction: column;
		
		#prods-header{
			background-color: lightgrey;
			border-bottom: 1px black;
			align-items: center;
			
			h2{
				margin: 2px 20px 2px 0;
			}
		}
		#prods-list{
			flex-wrap: wrap;
			justify-content: space-around;
			
			.prod-item{
				border: 1px black solid;
				flex-direction: column;
				margin: 15px 10px;
				height: 310px;
				width: 200px;
				padding: 20px;
				cursor: pointer;
				
				.prod-item-img{
					width: 100%;
					margin-bottom: 20px;
					img{
						width: 100%;
					}
				}
				
				.prod-item-price{
					align-self: flex-end;
					font-size: 22px;
					font-weight: bold;
				}
				.prod-item-price::after{
					content: "p";
				}
				
				.prod-item-title{
					font-size: 20px;
					word-wrap: break-word;
					word-break: break-word;
					line-break: anywhere;
				}
				
				.prod-item-add_cart{
					background-color: orange;
					padding: 3px 5px;
					width: 90px;
					justify-content: center;
					color: white;
					border-radius: 5px;
					margin: 4px 0;
				}
			}
		}
	}
}

