body {
  margin: 0;
  display: flex;
  width: 100%;
  min-height: 100vh;
  flex-direction: column; }

div {
  display: flex;
  box-sizing: border-box; }

#main {
  flex-direction: column;
  margin: 0 60px; }
  #main #search {
    justify-self: center;
    margin: 60px auto;
    width: 60%;
    height: 30px; }
    #main #search input {
      flex-grow: 1; }
  #main #prods {
    flex-direction: column; }
    #main #prods #prods-header {
      background-color: lightgrey;
      border-bottom: 1px black;
      align-items: center; }
      #main #prods #prods-header h2 {
        margin: 2px 20px 2px 0; }
    #main #prods #prods-list {
      flex-wrap: wrap;
      justify-content: space-around; }
      #main #prods #prods-list .prod-item {
        border: 1px black solid;
        flex-direction: column;
        margin: 15px 10px;
        height: 310px;
        width: 200px;
        padding: 20px;
        cursor: pointer; }
        #main #prods #prods-list .prod-item .prod-item-img {
          width: 100%;
          margin-bottom: 20px; }
          #main #prods #prods-list .prod-item .prod-item-img img {
            width: 100%; }
        #main #prods #prods-list .prod-item .prod-item-price {
          align-self: flex-end;
          font-size: 22px;
          font-weight: bold; }
        #main #prods #prods-list .prod-item .prod-item-price::after {
          content: "p"; }
        #main #prods #prods-list .prod-item .prod-item-title {
          font-size: 20px;
          word-wrap: break-word;
          word-break: break-word;
          line-break: anywhere; }
        #main #prods #prods-list .prod-item .prod-item-add_cart {
          background-color: orange;
          padding: 3px 5px;
          width: 90px;
          justify-content: center;
          color: white;
          border-radius: 5px;
          margin: 4px 0; }
