#main {
  margin: 40px;
  flex-direction: column; }
  #main #owner_data {
    justify-content: space-around; }
    #main #owner_data #finance {
      flex-direction: column; }
      #main #owner_data #finance > div {
        flex-direction: column;
        font-weight: bolder; }
        #main #owner_data #finance > div .money_value {
          font-weight: normal;
          font-size: 25px; }
    #main #owner_data #rate {
      flex-direction: column; }
      #main #owner_data #rate #rate_list {
        flex-direction: column; }
        #main #owner_data #rate #rate_list .rate_item {
          margin: 4px 0; }
  #main #sellers_list {
    flex-direction: column; }
    #main #sellers_list #new_seller {
      flex-direction: column; }
