#main {
	margin: 40px;
	flex-direction: column;
	
	#owner_data {
		justify-content: space-around;
		#finance{
			flex-direction: column;
			>div{
				flex-direction: column;
				font-weight: bolder;
				.money_value{
					font-weight: normal;
					font-size: 25px;
				}
			}
		}
		#rate{
			flex-direction: column;
			#rate_list{
				flex-direction: column;
				.rate_item{
					margin: 4px 0;
				}
			}
		}
	}
	#sellers_list{
		flex-direction: column;
		
		#new_seller{
			flex-direction: column;
		}
	}
}
