.img{border-radius:50%;background-color:#49ff46;width:35px;height:35px;margin:2px}.img img{height:65%;width:65%;margin:17.5% 0 0 17.5%}.category_card{height:76px;flex-direction:column;justify-content:center;font-size:16px}.category_card,.outcome_by_category{display:flex;align-items:center}.outcome_by_category>*{flex-direction:column}
/*# sourceMappingURL=main.5d662417.chunk.css.map */